form(id="search", method="POST", action="/cleartrip/search")
	lable(for='origin') From
	input#origin(type='text', name='origin')
	lable(for='destination') To
	input#destination(type='text', name='destination')
	input(type="submit", value="Search")

h1!=message