.origin {
	margin-left: 27px;
	margin-top: 5px;
    margin-bottom: 5px;
}
.destination {
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.common {
	margin-left: 20px;
	margin-top: 5px;
    margin-bottom: 5px;
}
#password {
	margin-left: 32px;
	margin-top: 5px;
    margin-bottom: 5px;
}